@import url("DWOplayer.css");

@media only print {
	.screenonly {
		display:none;
	}
}

.screenonly {
	height: 3.5em;
	width: 100%;
}
.printbutton {
	float: right;
	margin-top: 1em;
	margin-right: 2em;
	width: 9em;
}

.contentPanel {
	display: block;
	overflow-x: visible;
	page-break-inside: avoid;
}

svg text, img {
	page-break-inside: avoid;
}

body.printing {
	margin: 0px;
	overflow: auto;
}