<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <context-param>
  	<param-name>dbrest.url</param-name>
	<param-value>${dbrest.url}</param-value>  
  </context-param>
  <servlet>
  	<servlet-name>upload</servlet-name>
  	<servlet-class>nl.numworx.uploadwidgetgwt.server.Upload</servlet-class>
  	<init-param>
  		<param-name>corsDomainsRegex</param-name>
  		<param-value>.*</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>javaupload</servlet-name>
  	<servlet-class>nl.numworx.uploadwidgetgwt.server.JavaUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>download</servlet-name>
  	<servlet-class>nl.numworx.uploadwidgetgwt.server.Download</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>token</servlet-name>
  	<servlet-class>nl.numworx.uploadwidgetgwt.server.Token</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>proxy</servlet-name>
  	<servlet-class>nl.numworx.uploadwidgetgwt.server.Proxy</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>upload</servlet-name>
    <url-pattern>*.gupld</url-pattern>
    <url-pattern>/servlet.gupld</url-pattern>
    <url-pattern>/dwo/dav/upload/servlet.gupld</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>javaupload</servlet-name>
  	<url-pattern>/dir/*</url-pattern>
    <url-pattern>/feed.xml</url-pattern>
    <url-pattern>/dwo/dav/upload/dir/*</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>download</servlet-name>
  	<url-pattern>/download/*</url-pattern>
  	<url-pattern>/dwo/dav/upload/download/*</url-pattern>
  
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>token</servlet-name>
  	<url-pattern>/dwo/rest/oauth2/token</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>proxy</servlet-name>
  	<url-pattern>/proxy/*</url-pattern>
  </servlet-mapping>


  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>UploadWidgetGWT.html</welcome-file>
  </welcome-file-list>


</web-app>
