@mixin resetButton {
	-webkit-appearance: none;
}


@mixin flex {
	display: -webkit-box; display: -ms-flexbox; display: flex;
}
@mixin align-items($pos) {
	-webkit-box-align: $pos; -ms-flex-align: $pos; align-items: $pos;
}
@mixin justify-content($pos) {
	-webkit-box-pack: $pos; -ms-flex-pack: $pos; justify-content: $pos;
}

@mixin box-shadow($hor, $ver, $blur, $spread, $color) {
	-webkit-box-shadow: $hor $ver $blur $spread $color;
	-moz-box-shadow: $hor $ver $blur $spread $color;
	box-shadow: $hor $ver $blur $spread $color;
}


@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


