/*

TABLE STYLES

- General table styles (heads, hoverable, selectable)
- Results table
- Table wrapper (for XL tables)

*/


/*
 * GENERAL TABLE STYLES
 */ 

table {
	//table-layout: fixed;
	width: 100%;	
	border-collapse: collapse;
	//float: left;
	//height: 100px; max-height: 100px;
	position: relative;
	margin-bottom: $elementMarginBottom;
	
	thead tr, tbody tr {
	    display:table;
	    width:100%;
	    table-layout:fixed;
	}
	
	thead {
		//width: 100%;
		//position: absolute;
		left: 0; right: 0;
	    @include border-box;
		display: block;
		width: 100%;
				
		tr {
			width: 100%;
			//&.headers th:first-child { padding-left: 0; }
			th { 
				padding: $gutter / 2 * 1px!important;
				width: $colWidth * 1px;
				float: none!important; // for if it has a col-class
				
				
				//&.col-1 { width: ($colWidth * 0.5 - 20) * 1px; }
//				&.col-3 { width: ($colWidth * 1.5 - 20) * 1px; }
//				&.col-4 { width: ($colWidth * 2.0 - 20) * 1px; }
//				&.col-5 { width: ($colWidth * 2.5 - 20) * 1px; }
//				&.col-6 { width: ($colWidth * 3.0 - 20) * 1px; }
//				&.col-7 { width: ($colWidth * 3.5 - 20) * 1px; }
//				&.col-8 { width: ($colWidth * 4.0 - 20) * 1px; }
//				&.col-9 { width: ($colWidth * 4.5 - 20) * 1px; }
//				&.col-10 { width: ($colWidth * 5.0 - 20) * 1px; }
//				&.col-11 { width: ($colWidth * 5.5 - 20) * 1px; }
//				&.col-12 { width: ($colWidth * 6.0 - 20) * 1px; }
				
				
				
				//&:first-child { padding-left: 0; }
				
				.sortButton {
					cursor: pointer;
					display: inline-block;
					width: 13px; height: 13px;
					//width: 64px; height: 64px;
					margin: 0 -2px;
					
					//background-color: $primary;
					
					.icon {
						display: block;			
						height: 13px; //TODO var			
						width: 64/73.9 * 13px; //TODO var
									
						use { fill: $shade3; }
					}
					&.active .icon use { fill: $primary; }
				}
			}
		}		
	}
	
	tbody {
		//box-shadow: 0 0 0 3px $primary inset; // border doesn't work combined with radius
		border: $borderThickness $primary solid;
	    @include border-box;
		@include border-radius($defaultRadius);
		background: $white;
		width: 100%;
		//position: absolute;
		max-height: 200px;
		overflow-y: scroll;
		top: 2em;
		display: block;
		
		tr {					
			td {
				line-height: 1.8em;
				border-bottom: 1px $line1 solid;
				padding: 5px 10px;
				vertical-align: middle;
				padding: $gutter / 2 * 1px!important;
				width: $colWidth * 1px;
				float: none!important; // for if it has a col-class
			}					
		}
	}
	
	&.hoverable tr:hover td, &.hoverable tr:hover td span {
		background-color: $shade3;
	}	
	&.selectable {
		tr td {
			cursor: pointer;
			@include transition(all 500ms ease);
		}
		tr.selected td {
			background-color: $shade3;
		}
		input[type="checkbox"].hidden, input[type="radio"].hidden { position: absolute; opacity: 0;}
	}
}


/*
 * RESULTS TABLE
 */ 

table.results {
	margin-right: 1 / 12 * $siteWidth * 1px;
	max-height: 500px; height: auto;
	overflow-x: scroll;
	overflow-y: visible;
		
	&:after {
		content: "\00A0";
		display: block;
		right: $colWidth * -1px;
	    position: absolute;
	    top: 0;		
		width: $colWidth * 1px;
	}
		
	th, td {
		//width: (1 / 12 * $siteWidth - 20) * 1px;
		text-align: center;
		width: ($colWidth - $gutter) / 2 * 1px;
		
		&:first-child {
			position: relative;
			text-align: left;
			width: ($colWidth - $gutter) * 1px;
			
			span:not(.sortButton) { 
				background-color: $transWhite;
				bottom: 0;
				display: block;
				left: 0;
				line-height: 1.8em;
				padding: 5px 10px;
				position: absolute; 
				top: 0;
				width: ($colWidth - $gutter) * 1px;
				
				.active & { border-right: 1px $line1 solid;}
			}
		}
	}
	
	thead {
		border-left: $borderThickness $primary solid;
		@include border-radius(4px, 4px, 0px, 0px);		
		border-right: $borderThickness $primary solid;
		border-top: $borderThickness $primary solid;
		position: relative;
		
		tr {
			&:nth-child(1) {
				background-color: $primaryLight;
				color: $white;
				position: absolute;
				left: 1%;
				top: (16 + 4) * -1px;
				width: 98%;
							
				th {
					padding: 2px 10px;					
				}
			}
			&:nth-child(2) {
				background-color: $shade2;
				border-bottom: $borderThickness $line1 solid;
			
				th {
					position: relative;
					
					span {
						background-color: $shade2;
						border: $borderThickness $shade3 solid;
						cursor: pointer;
						display: block;
						font-size: 13 / 16 * 1em;
						height: 3 * 1.3em;
						line-height: 1.3em;
						margin: -3 * 1.3em 0 0 0;						
						overflow: hidden;
						padding: 3px 5px;
						position: absolute;
						text-transform: none;
						@include transition(background-color 200ms ease);
						transition-property: background-color, color;
						width: (($colWidth - $gutter) / 2 - 10) * 1px;
						z-index: 9;
						
						&:after {
							bottom: 0;
							content: "";
							left: 0;
							position: absolute;
							right: 0;
							top: 0;  
							
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edeff1+0,edeff1+100&0+0,0+80,1+100 */
							background: -moz-linear-gradient(left, $shade2RGBA0 0%, $shade2RGBA0 70%, $shade2RGBA1 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(left, $shade2RGBA0 0%,$shade2RGBA0 70%,$shade2RGBA1 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to right, $shade2RGBA0 0%,$shade2RGBA0 70%,$shade2RGBA1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00edeff1', endColorstr='#{$shade2}',GradientType=1 ); /* IE6-9 */
						}
						
						&.active {
							background-color: $primary;
							border: $borderThickness $primary solid;
							@include box-shadow(3px,3px,10px,0px,$shadow);
							width: ($colWidth + $gutter) * 1px; //- 20 - 10
							z-index: 99;
							
							a {
								bottom: 3px;
								color: $shade1;
								position: absolute;
								right: 5px;
								
								&:after {
									background-color: $shade1;
									content: " ";
									display: inline-block;
									margin-left: 5px;
									width: 14px; height: 14px;									
								}
							}
							&:after {
								display: none;
							}
						}						
						
						//word-break: break-all;
						//word-wrap: break-word;
						//text-overflow: ellipsis;
						//display: -webkit-box;
//						-webkit-line-clamp: 3;
//						-webkit-box-orient: vertical;
					}
				}
			}
			&:nth-child(3) {
				background-color: $shade2;				
			}			
		}
	}
	
	tbody {
		//max-width: 100%;
		//overflow: visible;
		@include border-radius(0px, 0px, 4px, 4px);
		border-top-style: none;
		max-height: 500px;		
		
		td {			
			a.resultIndicator {
				background-color: $shade2;
				border-bottom: $borderThicknessResult $primary solid;
				display: block;			
				width: 100%;
				
				@include transition(all 200ms ease);
				
				&:hover { 
					background-color: $primary;
					color: $white;
				}
			}						
		}		
	}	
}


/*
 * TABLE WRAPPER
 * Used for XL tables
 */

.tablewrap {
	width: 100%;
	overflow-x: scroll;
	overflow-y: visible;
	padding-top: 3em;
	
	//position: relative;
	//border-right: $borderThickness $primary solid;
	
	&:after {
		content: "";
		position: absolute;
		width: 1 / 12 * $siteWidth * 1px;
		top: 0;
		bottom: 0;
		right: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edeff1+0,edeff1+100&0+0,1+100 */
		background: -moz-linear-gradient(left, $shade1RGBA0 0%, $shade1RGBA1 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, $shade1RGBA0 0%,$shade1RGBA1 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, $shade1RGBA0 0%,$shade1RGBA1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00edeff1', endColorstr='#{$shade1}',GradientType=1 ); /* IE6-9 */
	}
}