/*
 * GENERAL 
 */

$sitewidth : 1342; //px
$headerHeight : 60; //px
$navWidth : 200; //px


/*
 * GRID
 */ 
$gutter : 30; //px
$borderThickness : 2px;
$borderThicknessResult : 5px;

/*
 * MARGINS & PADDINGS
 */

$elementMarginBottom : 10px;
$rowMarginBottom : 30px;

$panelSectionPaddingTop: 30px;

/*
 * FORMS
 */

$defaultRadius: 4px;

/* 
 * COLORS
 */

$primary: #2d70b5;
$primaryDark: #314770;
$primaryLight: #8fbde1;

$shade1: #dbdee0;
$shade2: #edeff1;
$shade3: #d1e3f3;

$line1: #dadbdd;

$danger: #ff0000;

$transWhite: rgba(255,255,255,0.8);


//OLD, to be replaced:
$textOnPrimary: #ffffff;

$black: #000000;
$white: #ffffff;
$offwhite: #d1e3f3;

$grey: #a7aab0;
$greyLight: #dbdee0;

$shadow: rgba(0,0,0,0.5);
$buttonTextColor: #ffffff;