/* 
    Created on : Dec 8, 2016, 2:51:42 PM
    Author     : G.A.J. van der Plas 
*/
/* 
    Created on : Dec 8, 2016, 2:20:25 PM
    Author     : G.A.J. van der Plas 
*/


/*******************************************************************************
DWO-overrides
*******************************************************************************/

.floatRight{
    display: inline;
    float: right;
    height: available;
}

.dwoButton {
    padding: 5px;
    margin: 5px;
}

.dwoDialogPanel {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: #dde0e3;
    color: #314770;
}