/** Add css rules here for your application. */
@import url("images/font-awesome-4.1.0/css/font-awesome.min.css");


.root {
	background-color: yellow; 
}	

.dock {
	background-color: orange; 
}

.bottom {
	background-color: rgb(220,220,220);	
}

.canvas {
	background-color: white;	
}

body {
	overflow: hidden;
	margin: 0px !important;
}