@import url("KeyboardGWT.css");
@import url("images/font-awesome-4.1.0/css/font-awesome.min.css");

html,body{margin:0px; padding:0px;}

body#main {margin:0px; background:white; color:#000;}

/** Example rules used by the template application (remove for your app) */

/*
div.formula { background: green; width:100px; height: 100px;}
*/
div { padding: 0px; }
canvas {outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  }
 
div.cbg-RP { background-color:#c3d9ff; }
.keyboardtabs {background:#000;}
div.keyboard {background:#dedede; left:0px; right:0px; }

div.tekstvak { overflow: hidden; }
/*div.tekstregel { overflow: hidden; }*/

.kbd-Button { display: inline-block; }
.kbd-Button-dwo {background:#ddd; color:#000; padding:10px; margin:5px;  border: 1px solid #888; border-radius:5px; text-align:center; overflow:hidden;}
.kbd-Button-dwo:active {background:#e00;}

.kbd-Button-noordhoff { 
	display: inline-block;
	margin:4px;
	text-align:center;
	overflow:hidden;
	height:48px;
	background-color: white;
	vertical-align: middle;
	font-size: 18px; 
}
.kbd-Button-noordhoff:active {background:#e00;}

div.disabled { background:#b8b8b8; color:#333;}
div.disabled:active { background:#b8b8b8; }

div.keyboardtabs div {color:white; background:#444; border-radius:0px; padding:2px 5px; margin:5px;}
div.keyboardtabs div:active {background:#e00;}

/*
div.insert_formule {padding-right:5px; padding-left:5px;}
*/

div.insert_formule_steps{border-width:1px;}

div.scrollformule {overflow:scroll; background:blue; width:210px;}


div.kbd-Button-dwo-numeric {
	background:#eee;
	background-image: url(images/resources/numericbuttongradient.png);
}
div.kbd-Button-noordhoff-numeric {
	background-color:#64add3;
	color: white
}


div.apply {background:#eee; }


div.tabkeyboard-dwo { 
	margin: 0px auto;
	width: 724px;
}

div.tabkeyboard {
      display: block; background-position: initial initial; background-repeat: initial initial; 
}

div.tabkeyboard-noordhoff {
    margin:11px 16px;
    width: 846px;
}

div.listitem { color:#000; }

input[name="userid"] { color:#000; }

iframe {
	border: 0px;
	border-top: 0px solid #000;
	border-bottom: 0px solid #000;
	border-right: 0px solid #000;
	border-left: 0px solid #000;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
}

.gwt-InlineHTML-cursor, .insert_formule-cursor {
	border-left: thin solid black;
}


.gwt-Image-noordhoff {
	height: 48px;
}

.gwt-Image-dwo {
	height: 16px;
}

/* moet zijn dwo */
.kbd-Button-dwo { 
	background-image: url(images/resources/buttongradient.png);
	height: 19px;
	font-size: 13px;
}

div.listItem-dwo {
	color: black;
}
div.listItem-dwo-separator {
	color: black;
	font-size: 13pt;
}


.gwt-PopupPanel-WaitScreen {
	margin: 0px;
	padding: 0px !important;
	border-style: none !important;
	opacity: 0.5;
}

.statusbar {
	float: right;
	display: inline-block;
	margin-right: 20px;
	width: 90px;	
}

/*
		button.getElement().getStyle().setFloat(Style.Float.LEFT);
		button.getElement().getStyle().setDisplay(Display.INLINE_BLOCK);
		button.getElement().getStyle().setMarginRight(10, Unit.PX);
		button.getElement().getStyle().setMarginTop(2, Unit.PX);
		button.getElement().getStyle().setMarginBottom(4, Unit.PX);
		button.getElement().getStyle().setPadding(10, Unit.PX);
		button.getElement().getStyle().setPaddingTop(5, Unit.PX);
		button.getElement().getStyle().setPaddingBottom(5, Unit.PX);
		button.getElement().getStyle().setBackgroundColor("#FFBBBB");
		if (scoresMax[currentActiviteit][j] == 0)
			button.getElement().getStyle().setBackgroundColor("#909090");
		if(!buttonsEnabled[currentActiviteit][j])
			button.getElement().getStyle().setBackgroundColor("white");
		button.getElement().getStyle().setProperty("borderRadius", "20px");

		button.getElement().getStyle().setBorderWidth(1, Unit.PX);
		button.getElement().getStyle().setBorderStyle(BorderStyle.SOLID);
		button.getElement().getStyle().setBorderColor(CssColor.make(121, 127, 144).toString());//("#979797");
		button.getElement().getStyle().setCursor(Cursor.POINTER);

		button.setText(" " + (j + 1) + " ");

*/

.scoreBtn {
	float: left;
	display: inline-block;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 4px;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FFBBBB;
	border-radius: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(121, 127, 144);
	cursor: pointer;
}

.scoreBtn-popupTime {
	border-radius: 0px;
	text-decoration: underline;
	font-style: italic;
	background-color: #C0C0C0
}

.scoreBtn-max0 {
	background-color: #909090;
}

.scoreBtn-disabled {
	background-color: white;
}

.scoreBtn-correct {
	background-color: green;
}
/*
		button.getElement().getStyle().setBorderWidth(3, Unit.PX);
		button.getElement().getStyle().setBorderColor("#484848");
		button.getElement().getStyle().setMarginTop(0, Unit.PX);

*/

.scoreBtn-cursor {
	border-width: 3px;
	border-color: #484848;
	margin-top: 0px;	
}

.gwt-Tree .gwt-TreeItem-selected {
	text-decoration: underline;
	color: oldlace;
}

.textEditor {
	background-color: #C0C0C0;
}

.textEditor-readonly {
	background-color: #808080;
} 
.textEditor > div {
	background-color: white;
	overflow: auto;
}

.textEditor div.insert_formule {
	background-color: rgb(248,248,248);
	display: inline-block;
	width: auto;
	height: auto;
}

.textEditor table.insert_calculator {
	background-color: rgb(248,248,248);
	display: inline-table;
	width: auto;
	height: auto;
	vertical-align: text-bottom;
}


.textEditor-readonly > div {
	color: gray;
}

.textEditor .balk {
	font-size: small;
}

.textEditor-readonly div.insert_formule {
	background-color: white;
	color: gray;
}

.textEditor-empty > div::before {
	content: "...";
	color: #808080
}

.textEditor-empty > div {
	color: #808080
}

.textEditor-nowrap {
	white-space: nowrap;
}

.cursor_gum {
	cursor: url(images/resources/gumcursor.gif) 10 10, auto; 
}

.cursor_teken {
	cursor: url(images/resources/tekencursor.gif) 10 22, auto; 
}

.cursor_drag {
	cursor: arrow; 
}

.gwt-Anchor {
	font-weight: bold;
	text-decoration: underline;
	font-family: sans-serif;
	font-size: 12px;
}

.gwt-Label-infoArea, .gwt-HTML-infoArea {
	margin: 15px;
}

.gwt-HTML-moduleArea, .gwt-Label-moduleArea {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}


.gwt-MenuItem-disabled {
	display: none;
}

.UserBar {
	background: initial !important;
	border: initial !important;
}

.UserBar .UserItem.gwt-MenuItem {
	color: inherit;
}
.UserBar .UserItem.gwt-MenuItem-selected {
	background: initial !important;	
}

.correctie {
	background-image: url("images/resources/correctie.png") !important;
	background-repeat: no-repeat !important;
	background-position: right bottom !important;
	background-color: transparent;
}