
.html-face {
	display: block;
	text-align: center;
}

.keyboard-container {
  width: auto;
  display: block;
  position: relative;
  overflow: hidden; }
  .keyboard-container .keyboard {
    background-color: #d2d2d2;
    display: inline-block;
    padding: 10px;
    margin-top: 0;
    -webkit-transition: margin 100ms ease-in-out;
            transition: margin 100ms ease-in-out; }
    .keyboard-container .keyboard:before, .keyboard-container .keyboard:after {
      content: "";
      display: table; }
    .keyboard-container .keyboard:after {
      clear: both; }
  .keyboard-container.computer {
    height: 44px;
    margin-bottom: 40px; }
    .keyboard-container.computer .keyboard {
      padding: 10px 9px; }
    .keyboard-container.computer .key {
      float: left;
      margin-left: 4px;
      margin-bottom: 0;
      font-weight: normal; }
    .keyboard-container.computer .key:first-child {
      margin-left: 0; }
  .keyboard-container.touch {
    height: 166px; }
    .keyboard-container.touch .keyboard {
      width: 842px;
      padding: 10px 20px;
      position: absolute;
      top: 0;
      margin-top: 166px; }
      .keyboard-container.touch .keyboard .clm .key, .keyboard-container.touch .keyboard .key {
        width: 42px;
        height: 32px;
        line-height: 33px;
        float: none;
        margin-left: 0; }
        .keyboard-container.touch .keyboard .clm .key > span, .keyboard-container.touch .keyboard .key > span {
          left: 0; }
        .keyboard-container.touch .keyboard .clm .key:before, .keyboard-container.touch .keyboard .clm .key span:before, .keyboard-container.touch .keyboard .key:before, .keyboard-container.touch .keyboard .key span:before {
          font-size: 28px;
          left: 7%; }
      .keyboard-container.touch .keyboard.is-active {
        margin-top: 0; }
    .keyboard-container.touch .keyboard-abc .keys {
      height: 144px;
      width: 740px;
      display: block;
      text-align: center; }
      .keyboard-container.touch .keyboard-abc .keys .row {
        width: 100%;
        height: 32px;
        display: block;
        margin-bottom: 6px;
        float: none; }
        .keyboard-container.touch .keyboard-abc .keys .row .key {
          display: block;
          float: left;
          margin: 0 8px 0 0;
          font-weight: normal; }
          .keyboard-container.touch .keyboard-abc .keys .row .key.key-space {
            width: 450px; }
          .keyboard-container.touch .keyboard-abc .keys .row .key.key-shift svg {
            max-width: 80%;
            margin-top: 3px; }
        .keyboard-container.touch .keyboard-abc .keys .row.row-1, .keyboard-container.touch .keyboard-abc .keys .row.row-3 {
          padding-left: 90px; }
        .keyboard-container.touch .keyboard-abc .keys .row.row-2, .keyboard-container.touch .keyboard-abc .keys .row.row-4 {
          padding-left: 115px; }
      .keyboard-container.touch .keyboard-abc .keys.caps .row-1 .key, .keyboard-container.touch .keyboard-abc .keys.caps .row-2 .key, .keyboard-container.touch .keyboard-abc .keys.caps .row-3 .key {
        text-transform: uppercase; }
    .keyboard-container.touch .keyboard-abc .clm-16, .keyboard-container.touch .keyboard-abc .clm-17 {
      position: absolute;
      right: 20px;
      top: 10px;
      height: 156px; }
    .keyboard-container.touch .keyboard-abc .clm-16 {
      right: 70px; }
    .keyboard-container.touch .keyboard-hand .toucharea {
      height: 144px;
      width: 740px;
      display: block;
      border: 1px solid #bbb;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGDwAeItQAwGjDAGNgGwSgwVAFFOAgWfVVqnAAAAAElFTkSuQmCC") repeat #FFF; }
    .keyboard-container.touch .keyboard-hand .clm-16, .keyboard-container.touch .keyboard-hand .clm-17 {
      position: absolute;
      right: 20px;
      top: 10px;
      height: 156px; }
    .keyboard-container.touch .keyboard-hand .clm-16 {
      right: 70px; }
  .keyboard-container.is-hidden .keyboard {
    margin-top: 166px !important; }

.keyboard .clm {
  width: 42px;
  float: left;
  margin-left: 8px; }
  .keyboard .clm:first-child {
    margin-left: 0; }

.keyboard .key, .key.switch {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #FFF;
  margin-bottom: 6px;
  display: block;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; }
  .keyboard .key:hover, .key.switch:hover {
    background-color: #666666 !important;
    color: #c7c7c7;
    outline: 0; }
    .keyboard .key:hover:before, .key.switch:hover:before,
    .keyboard .key:hover span:before,
    .key.switch:hover span:before {
      color: #c7c7c7 !important; }
  .keyboard .key:focus, .key.switch:focus {
    outline: 0; }
  .keyboard .key:active, .key.switch:active {
    background-color: #595959 !important;
    color: #c7c7c7; }
  .keyboard .key:last-child, .key.switch:last-child {
    margin-bottom: 0; }
  .keyboard .height-l.key, .height-l.key.switch {
    height: 70px !important;
    line-height: 70px !important; }
  .keyboard .height-m.key, .height-m.key.switch {
    height: 42px !important;
    line-height: 42px !important; }
  .keyboard .bg-grey.key, .bg-grey.key.switch {
    background-color: #999999;
    color: #FFFFFF; }
    .keyboard .bg-grey.key svg *, .bg-grey.key.switch svg * {
      fill: #FFFFFF; }
  .keyboard .bg-purple.key, .bg-purple.key.switch {
    background-color: #7b99c7;
    color: #FFFFFF; }
    .keyboard .bg-purple.key svg *, .bg-purple.key.switch svg * {
      fill: #FFFFFF; }
  .keyboard .bg-orange.key, .bg-orange.key.switch {
    background-color: #ff982f;
    color: #FFFFFF; }
    .keyboard .bg-orange.key svg *, .bg-orange.key.switch svg * {
      fill: #FFFFFF; }
  .keyboard .bg-blue.key, .bg-blue.key.switch {
    background-color: #46aed0;
    color: #FFFFFF; }
    .keyboard .bg-blue.key svg *, .bg-blue.key.switch svg * {
      fill: #FFFFFF; }
  .keyboard .is-active.key, .is-active.key.switch {
    background-color: #666666 !important;
    color: #FFFFFF;
    cursor: default; }
  .keyboard .disabled.key, .disabled.key.switch {
    background-color: #dcdcdc !important;
    cursor: default; }

.key.switch {
  width: 42px;
  bottom: 0;
  left: 820px;
  position: absolute; }
  .key.switch:before {
    font-size: 25px;
    top: 20%; }

.popup {
  height: 24px;
  position: absolute;
  background-color: #595959;
  padding: 10px;
  color: white;
  z-index: -100;
  display: none; }
  .popup .key {
    display: block;
    float: left;
    padding: 0;
    margin-left: 4px;
    margin-bottom: 0; }
    .popup .key:first-child {
      margin-left: 0; }

@font-face {
  font-family: "basis";
  src: url("images/kb/fonts/basis/basis.eot");
  src: url("images/kb/fonts/basis/basis.eot?#iefix") format("embedded-opentype"), url("images/kb/fonts/basis/basis.woff") format("woff"), url("images/kb/fonts/basis/basis.ttf") format("truetype"), url("images/kb/fonts/basis/basis.svg#basis") format("svg");
  font-weight: normal;
  font-style: normal; }
.key[class*="basis-"] {
  font-family: "basis"; }
.basis {
	font-family: "basis";
}

@font-face {
  font-family: "statistiek";
  src: url("images/kb/fonts/statistiek/statistiek.eot");
  src: url("images/kb/fonts/statistiek/statistiek.eot?#iefix") format("embedded-opentype"), url("images/kb/fonts/statistiek/statistiek.woff") format("woff"), url("images/kb/fonts/statistiek/statistiek.ttf") format("truetype"), url("images/kb/fonts/statistiek/statistiek.svg#statistiek") format("svg");
  font-weight: normal;
  font-style: normal; }
.key[class*="statistiek-"] {
  font-family: "statistiek"; }

@font-face {
  font-family: "gonio";
  src: url("images/kb/fonts/gonio/gonio.eot");
  src: url("images/kb/fonts/gonio/gonio.eot?#iefix") format("embedded-opentype"), url("images/kb/fonts/gonio/gonio.woff") format("woff"), url("images/kb/fonts/gonio/gonio.ttf") format("truetype"), url("images/kb/fonts/gonio/gonio.svg#gonio") format("svg");
  font-weight: normal;
  font-style: normal; }
.key[class*="gonio-"] {
  font-family: "gonio"; }
.gonio {
	font-family: "gonio";
}

@font-face {
  font-family: "algebra";
  src: url("images/kb/fonts/algebra/algebra.eot");
  src: url("images/kb/fonts/algebra/algebra.eot?#iefix") format("embedded-opentype"), url("images/kb/fonts/algebra/algebra.woff") format("woff"), url("images/kb/fonts/algebra/algebra.ttf") format("truetype"), url("images/kb/fonts/algebra/algebra.svg#algebra") format("svg");
  font-weight: normal;
  font-style: normal; }
.key[class*="algebra-"] {
  font-family: "algebra"; }
.algebra {
	font-family: "algebra";
}

@font-face {
  font-family: "meetkunde";
  src: url("../fonts/meetkunde/meetkunde.eot");
  src: url("../fonts/meetkunde/meetkunde.eot?#iefix") format("embedded-opentype"), url("../fonts/meetkunde/meetkunde.woff") format("woff"), url("../fonts/meetkunde/meetkunde.ttf") format("truetype"), url("../fonts/meetkunde/meetkunde.svg#meetkunde") format("svg");
  font-weight: normal;
  font-style: normal; }
.key[class*="meetkunde-"] {
  font-family: "meetkunde"; }

@font-face {
  font-family: "onderbouw";
  src: url("../fonts/onderbouw/onderbouw.eot");
  src: url("../fonts/onderbouw/onderbouw.eot?#iefix") format("embedded-opentype"), url("../fonts/onderbouw/onderbouw.woff") format("woff"), url("../fonts/onderbouw/onderbouw.ttf") format("truetype"), url("../fonts/onderbouw/onderbouw.svg#onderbouw") format("svg");
  font-weight: normal;
  font-style: normal; }
.key[class*="onderbouw-"] {
  font-family: "onderbouw"; }



.icon, .icon span {
  position: relative; }

.icon span {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 10%;
  left: 10%; }
  .icon span:before {
    margin: 0 !important; }

.icon:before, .icon span:before {
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* IE 6+ Support ========== */ }

.icon:before {
  top: 10%;
  left: 10%; }

.algebra-T1-9:before {
  content: "\e600"; }

.algebra-T1-10:before {
  content: "\e601"; }

.algebra-T2-9:before {
  content: "\e602"; }

.algebra-T3-8:before {
  content: "\e603"; }

.algebra-T3-9:before {
  content: "\e604"; }

.algebra-T4-8:before {
  content: "\e605"; }

.algebra-T4-9:before {
  content: "\e606"; }

.algebra-T4-14:before {
  content: "\e607"; }

.algebra-C25:before {
  content: "\e608"; }

.algebra-C26:before {
  content: "\e609"; }

.algebra-C27:before {
  content: "\e60a"; }

.algebra-C28:before {
  content: "\e60b"; }

.algebra-C29:before {
  content: "\e60c"; }

.algebra-C30:before {
  content: "\e60d"; }

.basis-T1-4:before {
  content: "\e600"; }

.basis-T1-5:before {
  content: "\e601"; }

.basis-T1-6 .path1:before {
  content: "\e602";
  color: #d1d1d1; }

.basis-T1-6 .path2:before {
  content: "\e603";
  margin-left: -1.3125em;
  color: #333333; }

.basis-T1-7:before {
  content: "\e604"; }

.basis-T1-8:before {
  content: "\e605"; }

.basis-T1-11:before {
  content: "\e606"; }

.basis-T1-12:before {
  content: "\e607"; }

.basis-T1-13:before {
  content: "\e608"; }

.basis-T1-14:before {
  content: "\e609"; }

.basis-T1-15:before {
  content: "\e60a"; }

.basis-T1-16:before {
  content: "\e60b"; }

.basis-T1-17:before {
  content: "\e60c"; }

.basis-T2-4:before {
  content: "\e60d"; }

.basis-T2-5:before {
  content: "\e60e"; }

.basis-T2-6:before {
  content: "\e60f"; }

.basis-T2-7 .path1:before {
  content: "\e610";
  color: #d1d1d1; }

.basis-T2-7 .path2:before {
  content: "\e611";
  margin-left: -1.3125em;
  color: #333333; }

.basis-T2-8 .path1:before {
  content: "\e612";
  color: #333333; }

.basis-T2-8 .path2:before {
  content: "\e613";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.basis-T2-8 .path3:before {
  content: "\e614";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.basis-T2-11:before {
  content: "\e615"; }

.basis-T2-12:before {
  content: "\e616"; }

.basis-T2-13:before {
  content: "\e617"; }

.basis-T2-14:before {
  content: "\e618"; }

.basis-T2-15:before {
  content: "\e619"; }

.basis-T2-16:before {
  content: "\e61a"; }

.basis-T2-17:before {
  content: "\e61b"; }

.basis-T3-4:before {
  content: "\e61c"; }

.basis-T3-5 .path1:before {
  content: "\e61d";
  color: #333333; }

.basis-T3-5 .path2:before {
  content: "\e61e";
  margin-left: -1.3125em;
  color: #333333; }

.basis-T3-5 .path3:before {
  content: "\e61f";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.basis-T3-6 .path1:before {
  content: "\e620";
  color: #333333; }

.basis-T3-6 .path2:before {
  content: "\e663";
  margin-left: -1.3125em;
  color: #333333; }

.basis-T3-6 .path3:before {
  content: "\e664";
  margin-left: -1.3125em;
  color: #333333; }

.basis-T3-6 .path4:before {
  content: "\e665";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.basis-T3-7 .path1:before {
  content: "\e621";
  color: #d1d1d1; }

.basis-T3-7 .path2:before {
  content: "\e622";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.basis-T3-7 .path3:before {
  content: "\e623";
  margin-left: -1.3125em;
  color: #333333; }

.basis-T3-11:before {
  content: "\e624"; }

.basis-T3-12:before {
  content: "\e625"; }

.basis-T3-13:before {
  content: "\e626"; }

.basis-T3-14:before {
  content: "\e627"; }

.basis-T3-15:before {
  content: "\e628"; }

.basis-T3-16:before {
  content: "\e629"; }

.basis-T4-4:before {
  content: "\e62a"; }

.basis-T4-5 .path1:before {
  content: "\e62b";
  color: #333333; }

.basis-T4-5 .path2:before {
  content: "\e62c";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.basis-T4-5 .path3:before {
  content: "\e62d";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.basis-T4-6:before {
  content: "\e62e"; }

.basis-T4-7:before {
  content: "\e62f"; }

.basis-T4-11:before {
  content: "\e630"; }

.basis-T4-12:before {
  content: "\e631"; }

.basis-T4-13:before {
  content: "\e632"; }

.basis-T4-16:before {
  content: "\e633"; }

.basis-T4-17-1:before {
  content: "\e634"; }

.basis-T4-17-2:before {
  content: "\e635"; }

.basis-C1 .path1:before {
  content: "\e636";
  color: #d1d1d1; }

.basis-C1 .path2:before {
  content: "\e637";
  margin-left: -1em;
  color: #333333; }

.basis-C2:before {
  content: "\e638"; }

.basis-C3 .path1:before {
  content: "\e639";
  color: #333333; }

.basis-C3 .path2:before {
  content: "\e63a";
  margin-left: -1em;
  color: #d1d1d1; }

.basis-C4 .path1:before {
  content: "\e63b";
  color: #d1d1d1; }

.basis-C4 .path2:before {
  content: "\e63c";
  margin-left: -1em;
  color: #d1d1d1; }

.basis-C4 .path3:before {
  content: "\e63d";
  margin-left: -1em;
  color: #333333; }

.basis-C5 .path1:before {
  content: "\e63e";
  color: #d1d1d1; }

.basis-C5 .path2:before {
  content: "\e63f";
  margin-left: -1em;
  color: #333333; }

.basis-C5 .path3:before {
  content: "\e640";
  margin-left: -1em;
  color: #333333; }

.basis-C6 .path1:before {
  content: "\e641";
  color: #d1d1d1; }

.basis-C6 .path2:before {
  content: "\e642";
  margin-left: -1em;
  color: #333333; }

.basis-C6 .path3:before {
  content: "\e643";
  margin-left: -1em;
  color: #d1d1d1; }

.basis-C7 .path1:before {
  content: "\e644";
  color: #333333; }

.basis-C7 .path2:before {
  content: "\e645";
  margin-left: -1em;
  color: #d1d1d1; }

.basis-C7 .path3:before {
  content: "\e646";
  margin-left: -1em;
  color: #d1d1d1; }

.basis-C8 .path1:before {
  content: "\e647";
  color: #d1d1d1; }

.basis-C8 .path2:before {
  content: "\e648";
  margin-left: -1em;
  color: #d1d1d1; }

.basis-C8 .path3:before {
  content: "\e649";
  margin-left: -1em;
  color: #333333; }

.basis-C8 .path4:before {
  content: "\e64a";
  margin-left: -1em;
  color: #333333; }

.basis-C9 .path1:before {
  content: "\e64b";
  color: #d1d1d1; }

.basis-C9 .path2:before {
  content: "\e64c";
  margin-left: -1em;
  color: #333333; }

.basis-C9 .path3:before {
  content: "\e64d";
  margin-left: -1em;
  color: #333333; }

.basis-C9 .path4:before {
  content: "\e64e";
  margin-left: -1em;
  color: #333333; }

.basis-C10 .path1:before {
  content: "\e64f";
  color: #d1d1d1; }

.basis-C10 .path2:before {
  content: "\e650";
  margin-left: -1em;
  color: #333333; }

.basis-C10 .path3:before {
  content: "\e651";
  margin-left: -1em;
  color: #333333; }

.basis-C11:before {
  content: "\e652"; }

.basis-C12 .path1:before {
  content: "\e653";
  color: #d1d1d1; }

.basis-C12 .path2:before {
  content: "\e654";
  margin-left: -1em;
  color: #d1d1d1; }

.basis-C12 .path3:before {
  content: "\e655";
  margin-left: -1em;
  color: #333333; }

.basis-C12 .path4:before {
  content: "\e656";
  margin-left: -1em;
  color: #333333; }

.basis-C13:before {
  content: "\e657"; }

.basis-C14:before {
  content: "\e658"; }

.basis-C15:before {
  content: "\e659"; }

.basis-C16:before {
  content: "\e65a"; }

.basis-C17:before {
  content: "\e65b"; }

.basis-C18:before {
  content: "\e65c"; }

.basis-C19:before {
  content: "\e65d"; }

.basis-C20:before {
  content: "\e65e"; }

.basis-C21:before {
  content: "\e65f"; }

.basis-C22:before {
  content: "\e660"; }

.basis-C23:before {
  content: "\e661"; }

.basis-C24:before {
  content: "\e662"; }

.gonio-T1-9:before {
  content: "\e600"; }

.gonio-T1-10:before {
  content: "\e601"; }

.gonio-T2-9:before {
  content: "\e602"; }

.gonio-T2-10:before {
  content: "\e603"; }

.gonio-T3-8:before {
  content: "\e604"; }

.gonio-T3-9:before {
  content: "\e605"; }

.gonio-T3-10:before {
  content: "\e606"; }

.gonio-T4-8:before {
  content: "\e607"; }

.gonio-T4-9:before {
  content: "\e608"; }

.gonio-T4-10:before {
  content: "\e609"; }

.gonio-C25:before {
  content: "\e60a"; }

.gonio-C26:before {
  content: "\e60b"; }

.gonio-C27 .path1:before {
  content: "\e60c";
  color: #333333; }

.gonio-C27 .path2:before {
  content: "\e60d";
  margin-left: -1em;
  color: #d1d1d1; }

.gonio-C31:before {
  content: "\e60e"; }

.gonio-C32:before {
  content: "\e60f"; }

.gonio-C33:before {
  content: "\e610"; }

.gonio-C34:before {
  content: "\e611"; }

.gonio-C35:before {
  content: "\e612"; }

.gonio-C36:before {
  content: "\e613"; }

.meetkunde-T1-9:before {
  content: "\e600"; }

.meetkunde-T1-10:before {
  content: "\e601"; }

.meetkunde-T2-8:before {
  content: "\e602"; }

.meetkunde-T2-9:before {
  content: "\e603"; }

.meetkunde-T2-10:before {
  content: "\e604"; }

.meetkunde-T3-8:before {
  content: "\e605"; }

.meetkunde-T3-9:before {
  content: "\e606"; }

.meetkunde-T3-10:before {
  content: "\e607"; }

.meetkunde-T4-8:before {
  content: "\e608"; }

.meetkunde-T4-9:before {
  content: "\e609"; }

.meetkunde-T4-10:before {
  content: "\e60a"; }

.meetkunde-C25:before {
  content: "\e60b"; }

.meetkunde-C26:before {
  content: "\e60c"; }

.meetkunde-C27 .path1:before {
  content: "\e60d";
  color: #333333; }

.meetkunde-C27 .path2:before {
  content: "\e60e";
  margin-left: -1em;
  color: #d1d1d1; }

.meetkunde-C28:before {
  content: "\e60f"; }

.meetkunde-C31:before {
  content: "\e610"; }

.meetkunde-C32:before {
  content: "\e611"; }

.meetkunde-C33:before {
  content: "\e612"; }

.meetkunde-C34:before {
  content: "\e613"; }

.meetkunde-C35:before {
  content: "\e614"; }

.meetkunde-C36:before {
  content: "\e615"; }

.onderbouw-T1-5:before {
  content: "\e600"; }

.onderbouw-T1-6 .path1:before {
  content: "\e601";
  color: #d1d1d1; }

.onderbouw-T1-6 .path2:before {
  content: "\e602";
  margin-left: -1.3125em;
  color: #333333; }

.onderbouw-T1-7:before {
  content: "\e603"; }

.onderbouw-T2-5:before {
  content: "\e604"; }

.onderbouw-T2-6 .path1:before {
  content: "\e605";
  color: #333333; }

.onderbouw-T2-6 .path2:before {
  content: "\e606";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.onderbouw-T2-6 .path3:before {
  content: "\e607";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.onderbouw-T3-5 .path1:before {
  content: "\e608";
  color: #d1d1d1; }

.onderbouw-T3-5 .path2:before {
  content: "\e609";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.onderbouw-T3-5 .path3:before {
  content: "\e60a";
  margin-left: -1.3125em;
  color: #333333; }

.onderbouw-T3-6 .path1:before {
  content: "\e60b";
  color: #d1d1d1; }

.onderbouw-T3-6 .path2:before {
  content: "\e60c";
  margin-left: -1.3125em;
  color: #333333; }

.onderbouw-T4-5:before {
  content: "\e60d"; }

.onderbouw-T4-6:before {
  content: "\e60e"; }

.onderbouw-C1 .path1:before {
  content: "\e60f";
  color: #d1d1d1; }

.onderbouw-C1 .path2:before {
  content: "\e610";
  margin-left: -1em;
  color: #333333; }

.onderbouw-C2:before {
  content: "\e611"; }

.onderbouw-C3 .path1:before {
  content: "\e612";
  color: #333333; }

.onderbouw-C3 .path2:before {
  content: "\e613";
  margin-left: -1em;
  color: #d1d1d1; }

.onderbouw-C4 .path1:before {
  content: "\e614";
  color: #d1d1d1; }

.onderbouw-C4 .path2:before {
  content: "\e615";
  margin-left: -1em;
  color: #d1d1d1; }

.onderbouw-C4 .path3:before {
  content: "\e616";
  margin-left: -1em;
  color: #333333; }

.onderbouw-C5 .path1:before {
  content: "\e617";
  color: #d1d1d1; }

.onderbouw-C5 .path2:before {
  content: "\e618";
  margin-left: -1em;
  color: #333333; }

.onderbouw-C5 .path3:before {
  content: "\e619";
  margin-left: -1em;
  color: #d1d1d1; }

.onderbouw-C6:before {
  content: "\e61a"; }

.onderbouw-C7:before {
  content: "\e61b"; }

.onderbouw-C8:before {
  content: "\e61c"; }

.onderbouw-C9:before {
  content: "\e61d"; }

.onderbouw-C10:before {
  content: "\e61e"; }

.onderbouw-C11:before {
  content: "\e61f"; }

.onderbouw-C12:before {
  content: "\e620"; }

.onderbouw-C13:before {
  content: "\e621"; }

.onderbouw-C14:before {
  content: "\e622"; }

.onderbouw-C15:before {
  content: "\e623"; }

.onderbouw-C16:before {
  content: "\e624"; }

.onderbouw-C17:before {
  content: "\e625"; }

.statistiek-T1-9:before {
  content: "\e600"; }

.statistiek-T1-10:before {
  content: "\e601"; }

.statistiek-T2-9:before {
  content: "\e602"; }

.statistiek-T2-10:before {
  content: "\e603"; }

.statistiek-T3-8:before {
  content: "\e604"; }

.statistiek-T3-9:before {
  content: "\e605"; }

.statistiek-T3-10:before {
  content: "\e606"; }

.statistiek-T4-8:before {
  content: "\e607"; }

.statistiek-T4-9 .path1:before {
  content: "\e608";
  color: #333333; }

.statistiek-T4-9 .path2:before {
  content: "\e609";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.statistiek-T4-9 .path3:before {
  content: "\e60a";
  margin-left: -1.3125em;
  color: #d1d1d1; }

.statistiek-T4-10:before {
  content: "\e60b"; }

.statistiek-T4-15:before {
  content: "\e60c"; }

.statistiek-C25:before {
  content: "\e60d"; }

.statistiek-C26:before {
  content: "\e60e"; }

.statistiek-C27:before {
  content: "\e60f"; }

.statistiek-C28 .path1:before {
  content: "\e610";
  color: #333333; }

.statistiek-C28 .path2:before {
  content: "\e611";
  margin-left: -1em;
  color: #d1d1d1; }

.statistiek-C28 .path3:before {
  content: "\e612";
  margin-left: -1em;
  color: #d1d1d1; }

.statistiek-C29:before {
  content: "\e613"; }

.statistiek-C30:before {
  content: "\e614"; }

.basis-T1-7:before,
.basis-T1-8:before,
.basis-C2:before,
.basis-C11:before {
  color: #d1d1d1; }

.basis-T2-17:before {
  font-size: 70px !important;
  left: 2% !important;
  top: 1% !important; }

.icon-l:before {
  font-size: 32px;
  top: 0;
  left: -18%; }
