@import url("//cdn.dwo.nl/apps/css/ubuntu.css");

body {
	background-color: #d2e5f5;
	font-family: "Ubuntu" !important;
	font-size: 14px;
	line-height: 18px;
	color: #1B75BB;
	background-size: 360px 349px;
	background-repeat: no-repeat;
	background-position: right 60px top 70px;
	background-image: url('dwo/tablet/images/numworx/favicon-numworx-wit.svg');
}

a {
	color: #1B75BB;
	text-decoration: underline;
	font-weight: bold;
}

#header {
	background-color: #314770;
	width: 100%;
	height: 50px;
}
#header img {
		margin-top: -24px;
		margin-left: 20px;
		margin-right: 20px;
		width: 140px;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}
	
#footer {
        position: absolute;
        bottom: 0em;
        right: 0em;
        background-color: #d2e5f5;
}

#footer iframe {
        border: 0;
}
	