.cellListWidget {

}

.cellListEvenItem {
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}

.cellListOddItem {
  display: inline-block;    
  cursor: pointer;
  zoom: 1;
}

.cellListKeyboardSelectedItem div {
	background-color: inherit;
	border-bottom-color: #1B75BB !important;
}

.cellListKeyboardSelectedItem div div:first-child {
  background-color: #1B75BB;
}

 @sprite .cellListSelectedItem {
  gwt-image: 'cellListSelectedBackground';
  background-color: transparent;
  color: white;
  height: auto;
  overflow: visible;
}