.cellListWidget {

}

.cellListEvenItem {
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}

.cellListOddItem {
  display: inline-block;    
  cursor: pointer;
  zoom: 1;
}


.cellListKeyboardSelectedItem {
	
}
.cellListKeyboardSelectedItem div {
	background-color: inherit;
	border-bottom-color: #1B75BB;
}

.cellListKeyboardSelectedItem div div:first-child {
  background-color: #1B75BB;
}

.cellListSelectedItem {
}

.cellListSelectedItem div {
	background-color: #A8ABB1;
/* 	background-color: inherit; */
	border-bottom-color: #1B75BB;
}

.cellListSelectedItem div div:first-child {
  background-color: #1B75BB;
}
