@eval favicon nl.uu.fi.dwo.mobile.client.ui.views.TreeModuleViewNumworx.getFaviconUrl();
@eval foldericon nl.uu.fi.dwo.mobile.client.ui.views.TreeModuleViewNumworx.getFolderUrl();
@def color15 #314770;
@def color10 #E4F2FB;
@def color12 #AAC1DC;
@def color13 #7297C7;
@def color14 #1B75BB;
@def medium 500;
@def regular 400;

.rootPanel {
	height: 100%;
	width: 1024px;
	font-family: "Ubuntu" !important;
}

		.headerPanel {
			background-color: color15;
			color: #8eBee5;
			font-size: 13px;
			font-family: "Ubuntu" !important;
		}
		
		.navPanel {
			background-color: #DDE0E3;
			color: color15;
			padding-top: 40px;
			padding-left: 0px;
			font-size: 14px;
			line-height: 27px;
			font-family: "Ubuntu" !important;
/* 			box-shadow: 2px 2px 2px #314770 inset; */
		}
.centerPanel {
			background-color: #D2E5F5;
			color: #314770; /*15*/
			font-size: 14px;
			line-height: 18px;
			padding-top: 40px;
/* 			padding-left: 18px; */
/* 			padding-right: 22px; */
/* 			box-shadow: 8px 0px 14px 0px rgba(0,0,0,0.46) inset;			 */
/* 			box-shadow: 2px 2px 2px #314770 inset; */
			font-family: "Ubuntu" !important;
			overflow-y: scroll;
}
.centerBackground {	
	background-size: 360px 349px;
	background-repeat: no-repeat;
	background-position: 460px 20px;
	background-image: favicon;
}

.folderBackground {
	background-size: 360px 360px;
	background-repeat: no-repeat;
	background-position: 460px 20px;
	background-image: foldericon;
	
}
		.title {
			font-size: 18px;
			margin-bottom: 20px;
			margin-left: 18px;
			font-family: "Roboto Condensed" !important;
			font-weight: bold;
		}
		.description {
			margin-bottom: 36px;
			margin-left: 18px;
		}
		
		.navTitle {
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: #A8ABB1 ;
			font-size: 18px;
			padding-bottom: 20px;
			padding-left: 22px;
			margin-right: 18px;
			font-family: "Roboto Condensed" !important;
			font-weight: bold;
			width: 152px;
			line-height: normal;
		}
		
	.numworx {
		height:30px;
		margin-top: -24px;
		margin-left: 20px;
		margin-right: 20px;
		width: 140px;
		display: inline-block;
		vertical-align: top;
	}
		.search {
			width: 40px;
			color: white;
			background-color: color14;
			text-align: center;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
			margin-top: 16px;
			vertical-align: top;
			border-radius: 3px;
			height: 22px;
			margin-left: 9px;
		}
		.nav {
			float: right;
			display: inline-block;
			margin-top: 10px;
			color: color13;
			margin-right: 10px;
			cursor: pointer;
		}
		.loginname {
			float: right;
			display:inline-block;
			margin-top: 18px;
			color: color13;
			font-size: 13px;
			font-family: "Ubuntu" !important;
			font-weight: medium;
		}
		.menu {
			float: right;
			display: inline-block;
			margin-top: 8px;
			margin-right: 22px;
			margin-left: 5px;
			background: initial !important; /* not IE */
			background: inherit !important; /* IE */
			border: initial !important; /* not IE */
			border-style: none !important; /* IE */
		}
		.menuItem {
			color: color13 !important;
			font-size: 13px;
			font-family: "Ubuntu" !important;
		}	
		.search-input {
			font-family: "Ubuntu" !important;
			background-color: black;
			color: #E4F2FB;
			margin-left: 22px;
			margin-top: 16px;
			display: inline-block;
			padding-left: 4px;
			width: 400px;
			height: 22px;
			border-radius: 3px;
			border-style: none;
		}
		.navItem {
			font-family: "Roboto Condensed" !important;
			font-weight: bold;
			line-height: 27px;
/* 			margin-right: 18px; */
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: #A8ABB1 !important;
			width: 152px;
			padding-left: 22px;
/* 			transform: scale(0.9,1); */
/* 			transform-origin: left; */
		}
		.tiles {

	
		}	
		.tile {
			width: 252px;
			height: 225px;
			margin-left: 18px;
			margin-bottom: 18px;
			display: inline-block;
			overflow: hidden;
			position: relative;
			border-bottom-color: color12;
		}

		.tileHeader {
			width: 247px;
			height: 32px;
			background-color: #AAC1DC;
			color: white;
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			padding-left: 5px;
			font-family: Ubuntu;
			display: table;
		}
		
		.tileSpan {
			display: table-cell;
			vertical-align: middle;
		}
		
		
		.tileFooter {
			width: 252px;
			height: 22px;
			bottom: 0px;
			margin-top: 5px;
		}
		.tileBody {
			border-bottom-style: solid;
			border-bottom-width: 6px;
			border-bottom-color: inherit;
			width: 252px;
			height: 160px;
			background-color: #E4F2FB;
			display: table;
		}
		.tileBodySpan {
			display: table-cell;
			vertical-align: middle;
		}
		.tileBodyImg {
			display: inherit;
			margin: auto;
		}
		
		.tileResult {
			display: inline-block;
			vertical-align: bottom;
			height: 18px;
		}
		.tileScore {
			background-color: white;
			display: inline-block;
			margin-left: 10px;
			padding-left: 10px;
			padding-right: 10px;
			font-family: Ubuntu;
			font-size: 14px;
			font-weight: bold;
			color: color14;
		}
		.tileType {
			float: right;
			display: inline-block;
			vertical-align: bottom;
			height: 26px;
		}
		
		.tileInfo { 
			position: absolute;
			bottom: 34px;
			right: 2px;
			font-size: 11px;
		}

.favicon {
	display: inline-block;
	width: 252px;
	height: 160px;
	margin-left: 18px;
	vertical-align: top;
}

.titlePanel {
	width: 540px;
	display: inline-block;
}
.itemPanel {
	min-height: 252px;
}

.popup {
	box-shadow: 0px 1px 10px 4px rgba(0,0,0,0.30);
	border-radius: 3px;
	border-style: solid;
	border-color: color14;
	border-width: 1px;
}