/* 
    Created on : Dec 8, 2016, 2:20:25 PM
    Author     : G.A.J. van der Plas 
*/
.appPanel{
    margin-left: 5px;
    margin-right: 5px;
    margin-top : 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    height: calc(100vh-16px);
    width: calc(100vw-16px);
}
.header {
    /*padding: 8px;*/
    border: 1px solid #555555;
    background-color: #f0f0f0;
    border-radius: 4px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top : 5px;
    margin-bottom: 5px;
    height: 50px;
    width: calc(100vw-16px);
    padding: 10px;
    vertical-align: bottom;     
}	
.navi {
    padding: 8px;
    border: 1px solid #555555;
    background-color: #dedede;
    border-radius: 5px;        
    height: 5%;
}
.body {
    height: 100%;
    width: calc(100vw-16px);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border: 1px solid #555555;
    background-color: #deeefe;
    border-radius: 4px;   
    margin-left: 5px;
    margin-right: 5px;
    margin-top : 5px;
    margin-bottom: 5px;
    border-style: solid;
}
.widget {
    padding: 8px;
    border: 1px solid #555555;
    background-color: #fdfdfd;
    border-radius: 5px;   
    margin-left: auto;
    margin-right: auto;
    margin-top : auto;
    margin-bottom: auto;
    vertical-align: middle;
}
.status {
    height: 25px;
    width: calc(100vw-16px);
    padding: 8px;
    border: 1px solid #555555;
    background-color: #f0f0f0;
    border-radius: 5px; 
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top : 5px;
    margin-bottom: 5px;
}

.deckpanel {
    bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border: 1px solid #555555;
    background-color: #deeefe;
    border-radius: 4px;   
    margin-left: 5px;
    margin-right: 5px;
    margin-top : 5px;
    margin-bottom: 5px;
    border-style: solid;
    align-content: center;
}

.logoutButton{
    align: right;
}

.box{
    display:inline;
    overflow:hidden;
}

.leftLogoBox{
    display: inline-block;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: bottom;
    visibility: visible;    
}

.leftFullBox{
    display: inline-block;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: bottom;
    visibility: hidden;
}

.leftHalfBox{
    display: inline-block;
    border-left:0px;
    margin-bottom:10px;
    margin-left: 0px;
    margin-right: 5px;
    vertical-align: bottom;
    visibility: hidden;
}

.rightBox{
    display: inline;
    float: right;
    margin-top: auto;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: bottom;    
    visibility: hidden;
}