/* 
    Created on : Dec 8, 2016, 2:51:42 PM
    Author     : G.A.J. van der Plas 
*/

.widget {
    padding: 8px;
    border: 1px solid #555555;
    background-color: #fdfdfd;
    border-radius: 5px;   
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;    
}
/*tr:nth-child(even) {background-color: #c7dafa}
tr:nth-child(odd) {background-color: #c7d4ea}*/
.grid {
    padding: 8px;
    border: 1px solid #555555;
    background-color: #dddddd;
    border-radius: 5px;   
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;    
}




