/** Add css rules here for your application. */

body {
	background-color: transparent !important;
	font-family: 'Ubuntu';
}

div {
	outline: none;
}

iframe.box.gwt-Frame {
	border: 2px #1b75bb solid;
	border-radius: 4px;
	background-color: white;
}

.lightbox {
	border: 1px #7297c7 solid;
	border-radius: 2px;
	background-color: white;
}

div.header.gwt-Label {
	font-family: Ubuntu;
	font-size: 150%;
	color: #7297c7;
	display: inline-block;
}

.message {
	width: 422px;
	padding: 16px;
	margin-bottom: 18px;
}

.message .sender {
	font-weight: bold;
	font-family: ubuntu;
}

.message .time {
	float: left;
}

.blu div {
	color: #1b75bb;
	font-size: 150%;
}
.gre div {
	color: green;
	font-size: 150%;
}

i.send {
    display: inline-block;
    width: 32px;
    color: white;
    background-color: #1b75bb;
    border-radius: 4px;
    font-size: 180%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

table.dwo {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 18px;
}

table.dwo thead th, .klasnaam {
	text-transform: uppercase;
	text-shadow: none;
	border-bottom: none;
	color: #7297c7;
	font-family: 'Ubuntu';
	font-size: 12px;
}

table.dwo tbody {
	border: solid #1b75bb 3px; 
	border-radius: 4px;
}

.klasbox {
	border: solid #1b75bb 2px; 
	border-radius: 4px;
	line-height: 18px;
	font-size: 12px;
	padding: 3px 9px;
	width: 100%;
	height: 28px;
}

.eastheader {
	font-family: 'Ubuntu';
	color: #7297c7;
	font-size: 130%;
}