<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>image.png</servlet-name>
  	<servlet-class>fi.servlet.dwomaccess.DWOmAccess</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dbaccess</servlet-name>
  	<servlet-class>fi.servlet.dwomaccess.DbAccessServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>scormaccess</servlet-name>
  	<servlet-class>fi.servlet.dwomaccess.ScormAccess</servlet-class>
  </servlet>

  	<servlet>
      <servlet-name>ProviderServlet</servlet-name>
      <servlet-class>fi.servlet.lti.ProviderServlet</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>ServiceServlet</servlet-name>
      <servlet-class>fi.servlet.lti.ServiceServlet</servlet-class>
    </servlet>
  
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/image.png</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/partialScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/getLaunchData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/getJSONLaunchData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/getJSONLaunchDataBytes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/getCourseDescription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dbaccess</servlet-name>
  	<url-pattern>/dbaccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>scormaccess</servlet-name>
    <url-pattern>/scormaccess</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
      <servlet-name>ProviderServlet</servlet-name>
      <url-pattern>/lti/provider/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>ServiceServlet</servlet-name>
      <url-pattern>/lti/service/*</url-pattern>
    </servlet-mapping>
  
  
  <!-- Default page to serve -->
	<welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
