<?xml version="1.0" encoding="UTF-8"?>

<web-app  xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
   <distributable/>

  <resource-ref>
      <description>DWO DB Connection</description>
      <res-ref-name>jdbc/dwodb2</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>

    <!--
    To use non XDoclet filters, create a filters.xml file that
    contains the additional filters (eg Sitemesh) and place it in your
    project's merge dir.  Don't include filter-mappings in this file,
    include them in a file called filter-mappings.xml and put that in
    the same directory.
    -->

    <!--
    To use non XDoclet filter-mappings, create a filter-mappings.xml file that
    contains the additional filter-mappings and place it in your
    project's merge dir.
    -->

    <!--
    To use non XDoclet listeners, create a listeners.xml file that
    contains the additional listeners and place it in your
    project's merge dir.
    -->

   <servlet>
      <description><![CDATA[Servlet voor database access van DWO via XML-RPC]]></description>
      <servlet-name>DbAccess</servlet-name>
      <servlet-class>fi.dwo.server.persistence.DbAccessServlet</servlet-class>

      <init-param>
         <param-name>local</param-name>
         <param-value>true</param-value>
      </init-param>
      <init-param>
         <param-name>jar.folder</param-name>
         <param-value>webapps/dwo/jars/</param-value>
      </init-param>

   </servlet>
   <servlet>
      <description><![CDATA[Servlet voor het genereren van de dwo.html pagina]]></description>
      <servlet-name>DwoWebPage</servlet-name>
      <servlet-class>fi.dwo.server.persistence.DwoWebPageServlet</servlet-class>

      <init-param>
         <param-name>html_source</param-name>
         <param-value>file:webapps/dwo/dwo.html</param-value>
      </init-param>
      <init-param>
         <param-name>local</param-name>
         <param-value>true</param-value>
      </init-param>
      <init-param>
         <param-name>servlet</param-name>
         <param-value>/dwo/dbaccess</param-value>
      </init-param>

   </servlet>
   
   <servlet>
   	<description>DME Colorado</description>
   	<servlet-name>Colorado</servlet-name>
   	<servlet-class>fi.dwo.server.persistence.DbAccessColoradoServlet</servlet-class>
       <init-param>
         <param-name>local</param-name>
         <param-value>false</param-value>
      </init-param>
   </servlet>
   
	<servlet>
   		<description>Datasource servlet</description>
   		<servlet-name>dsaccess</servlet-name>
   		<servlet-class>fi.dwo.server.persistence.DataSourceAccessServlet</servlet-class>
   		<init-param>
   			<param-name>datasource</param-name>
   			<param-value>jdbc/dwodb</param-value>   		
   		</init-param>
   		<init-param>
   			<param-name>monitor</param-name>
   			<param-value>true</param-value>	
   		</init-param>
   		<init-param>
   			<param-name>threading</param-name>
   			<param-value>true</param-value>	
   		</init-param>
	</servlet>
   
   

  <!--
  To use non XDoclet servlets, create a servlets.xml file that
  contains the additional servlets (eg Struts) and place it in your
  project's merge dir.  Don't include servlet-mappings in this file,
  include them in a file called servlet-mappings.xml and put that in
  the same directory.
  -->

   <servlet-mapping>
      <servlet-name>dsaccess</servlet-name>
      <url-pattern>/dbaccess</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   		<servlet-name>Colorado</servlet-name>
   		<url-pattern>/colorado</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>DwoWebPage</servlet-name>
      <url-pattern>/dwowebpage</url-pattern>
   </servlet-mapping>

	<servlet-mapping>
		<servlet-name>dsaccess</servlet-name>
		<url-pattern>/dsaccess</url-pattern>
	</servlet-mapping>

   <!--
   To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
   Organize mime-mappings.xml following this DTD slice:

   <!ELEMENT mime-mapping (extension, mime-type)>
   -->

   <!--
   To specify error pages, create a file named error-pages.xml, put it in your project's mergedir.
   Organize error-pages.xml following this DTD slice:

   <!ELEMENT error-page ((error-code | exception-type), location)>
   -->

  <!--
  To add taglibs by xml, create a file called taglibs.xml and place it
  in your merge dir.
  -->

   <!--
   To set up security settings for your web app, create a file named web-security.xml, put it in your project's mergedir.
   Organize web-security.xml following this DTD slice:

   <!ELEMENT security-constraint (display-name?, web-resource-collection+, auth-constraint?, user-data-constraint?)>
   <!ELEMENT web-resource-collection (web-resource-name, description?, url-pattern*, http-method*)>
   <!ELEMENT web-resource-name (#PCDATA)>
   <!ELEMENT url-pattern (#PCDATA)>
   <!ELEMENT http-method (#PCDATA)>
   <!ELEMENT user-data-constraint (description?, transport-guarantee)>
   <!ELEMENT transport-guarantee (#PCDATA)>

   <!ELEMENT login-config (auth-method?, realm-name?, form-login-config?)>
   <!ELEMENT auth-method (#PCDATA)>
   <!ELEMENT realm-name (#PCDATA)>
   <!ELEMENT form-login-config (form-login-page, form-error-page)>
   <!ELEMENT form-login-page (#PCDATA)>
   <!ELEMENT form-error-page (#PCDATA)>
   -->

</web-app>
