<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 <!-- speciaal for ws.fisme.science.uu.nl -->
  <context-param>
  	<param-name>dbaccess.url</param-name>
	<param-value>https://app.dwo.nl/dwo/dsaccess</param-value>  
  </context-param>
  <context-param>
  	<param-name>SERVLET</param-name>
  	<param-value>//app.dwo.nl/dwo/dsaccess</param-value>
  </context-param>
  <context-param>
  	<param-name>IDEAS</param-name>
  	<param-value>/servlet/IdeasServlet</param-value>
  </context-param>
	<!-- TODO: Add <servlet> tags for each servlet here. -->
  <servlet>
    <servlet-name>image.png</servlet-name>
  	<servlet-class>fi.servlet.dwomaccess.DWOmAccess</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dbaccess</servlet-name>
  	<servlet-class>fi.servlet.dwomaccess.DbAccessServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>scormaccess</servlet-name>
  	<servlet-class>fi.servlet.dwomaccess.ScormAccess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>appparam</servlet-name>
    <jsp-file>/lti/_app.jsp</jsp-file>
  </servlet>
  
<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/image.png</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/partialScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/getLaunchData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/getJSONLaunchData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/DWOmAccess/getJSONLaunchDataBytes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>image.png</servlet-name>
	<url-pattern>/DWOmAccess/getCourseDescription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dbaccess</servlet-name>
  	<url-pattern>/DWOmAccess/dbaccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>scormaccess</servlet-name>
    <url-pattern>/DWOmAccess/scormaccess</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
      <servlet-name>appparam</servlet-name>
      <url-pattern>/lti/app.jsp/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>appparam</servlet-name>
      <url-pattern>/lti/app.jsp</url-pattern>
   </servlet-mapping>

<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->
  <welcome-file-list>
    <welcome-file>DWOplayer.html</welcome-file>
  </welcome-file-list>
</web-app>
