<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1">
  <display-name>DWOGClient</display-name>
  <servlet>
    <servlet-name>dwo</servlet-name>
    <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
    <init-param>
      <param-name>targetUri</param-name>
      <param-value>https://test.dwo.nl/dwo</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet>
  	<servlet-name>xapi</servlet-name>
  	<servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
     <init-param>
      <param-name>targetUri</param-name>
      <param-value>https://repos.dwo.nl/data/xAPI</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>  
  </servlet>
  <servlet-mapping>
    <servlet-name>dwo</servlet-name>
    <url-pattern>/dwo/*</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
   		<servlet-name>xapi</servlet-name>
   		<url-pattern>/data/xAPI/*</url-pattern>
   </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>