<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
     xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
     version="3.0">
  <servlet>
    <servlet-name>appgwtclient</servlet-name>
    <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
    <init-param>
      <param-name>targetUri</param-name>
      <param-value>https://test.dwo.nl/gwtclient</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>appdwo</servlet-name>
    <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
    <init-param>
      <param-name>targetUri</param-name>
      <param-value>https://test.dwo.nl/dwo</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
</servlet>
  <servlet>
    <servlet-name>appideas</servlet-name>
    <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
    <init-param>
      <param-name>targetUri</param-name>
      <param-value>https://test.dwo.nl/ideas</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
</servlet>
  <servlet>
  	<servlet-name>xapi</servlet-name>
  	<servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
     <init-param>
      <param-name>targetUri</param-name>
      <param-value>https://test.dwo.nl/data/xAPI</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>  
  </servlet>


<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
    <servlet-mapping>
   	  <servlet-name>appdwo</servlet-name>
   	  <url-pattern>/dwo/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	  <servlet-name>appideas</servlet-name>
   	  <url-pattern>/ideas/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	  <servlet-name>appgwtclient</servlet-name>
   	  <url-pattern>/gwtclient/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   		<servlet-name>xapi</servlet-name>
   		<url-pattern>/data/xAPI/*</url-pattern>
   </servlet-mapping>

    <mime-mapping>
    	<extension>seb</extension>
    	<mime-type>application/seb</mime-type>
    </mime-mapping>    

<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->
  <welcome-file-list>
    <welcome-file>DWOplayer.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
