<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DWOServer</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Allow the web application to be distributed across a Tomcat cluster -->
    <distributable/>
    <!-- Tomcat resource connection for the DWO database server -->
    <resource-ref>
        <description>DWO DB Connection</description>
        <res-ref-name>jdbc/dwodb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <filter>
        <filter-name>xss</filter-name>
        <filter-class>fi.dwo.server.xss.XSSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>xss</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>

        <!-- set the amount of seconds the conf file will be checked for reload can be
        a valid integer (0 denotes check every time, empty/not set denotes no reload check) -->
        <init-param>
            <param-name>confReloadCheckInterval</param-name>
            <param-value></param-value>
        </init-param>

        <!-- sets up log level (will be logged to context log) can be: TRACE, DEBUG,
         INFO (default), WARN, ERROR, FATAL, log4j, commons, sysout:{level}
        (ie, sysout:DEBUG) if you are having trouble using normal levels use sysout:DEBUG -->
        <init-param>
            <param-name>logLevel</param-name>
            <!--param-value>sysout:DEBUG</param-value-->
            <param-value>INFO</param-value>
        </init-param>

        <!-- you can disable status page if desired can be: true, false (default true) -->
        <init-param>
            <param-name>statusEnabled</param-name>
            <param-value>true</param-value>
        </init-param>

        <!-- you can change status path so that it does not conflict with your installed
        apps (note, defaults to /rewrite-status) note, must start with / -->
        <init-param>
            <param-name>statusPath</param-name>
            <param-value>/rewrite-status</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresByType image</param-name>
            <param-value>access plus 10 minutes</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/css</param-name>
            <param-value>access plus 10 minutes</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType application/javascript</param-name>
            <param-value>access plus 10 minutes</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType application/json</param-name>
            <param-value>access plus 0 minutes</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>Remote Address Filter</filter-name>
        <filter-class>org.apache.catalina.filters.RemoteAddrFilter</filter-class>
        <init-param>
            <param-name>allow</param-name>
            <param-value>127\.\d+\.\d+\.\d+|::1|0:0:0:0:0:0:0:1</param-value>
        </init-param>
    </filter>
    
  <filter>
    <filter-name>JAMonFilter</filter-name>
    <filter-class>com.jamonapi.JAMonFilter</filter-class>
  </filter>

  <filter-mapping> <!-- Wat wil je monitoren?-->
    <filter-name>JAMonFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 
    <filter-mapping>
        <filter-name>Remote Address Filter</filter-name>
        <url-pattern>/public/user/registerSAML</url-pattern>
    </filter-mapping>
    <!--     <filter-mapping> -->
    <!--        <filter-name>ExpiresFilter</filter-name> -->
    <!--        <url-pattern>/*</url-pattern> -->
    <!--        <dispatcher>REQUEST</dispatcher> -->
    <!--     </filter-mapping> -->
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    
    <!-- Servlets -->
    <servlet>
        <description><![CDATA[Servlet voor het genereren van de dwo.html pagina]]></description>
        <servlet-name>DwoWebPage</servlet-name>
        <servlet-class>fi.dwo.server.persistence.DwoWebPageServlet</servlet-class>

        <init-param>
            <param-name>html_source</param-name>
            <param-value>/dwo.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>cookies</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>SERVLET</param-name>
            <param-value>xmlrpc</param-value> <!-- t.o.v contextPath -->
        </init-param>
    </servlet>
    <servlet>
        <description><![CDATA[Servlet voor het genereren van de dwo.jnlp pagina]]></description>
        <servlet-name>DwoJnlpPage</servlet-name>
        <servlet-class>fi.dwo.server.persistence.DwoWebPageServlet</servlet-class>

        <init-param>
            <param-name>html_source</param-name>
            <param-value>/dwo_jnlp.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>SERVLET</param-name>
            <param-value>xmlrpc</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description><![CDATA[Servlet voor het genereren van de index.html pagina]]></description>
        <servlet-name>DwoIndexPage</servlet-name>
        <servlet-class>fi.dwo.server.persistence.DwoWebPageServlet</servlet-class>

        <init-param>
            <param-name>html_source</param-name>
            <param-value>/dwo_index.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>SERVLET</param-name>
            <param-value>xmlrpc</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Download servlet</description>
        <servlet-name>download</servlet-name>
        <servlet-class>fi.dwo.server.persistence.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Datasource servlet</description>
        <servlet-name>xmlrpc</servlet-name>
        <servlet-class>fi.dwo.server.persistence.DataSourceAccessServlet</servlet-class>
        <init-param>
            <param-name>datasource</param-name>
            <param-value>jdbc/dwodb</param-value>
        </init-param>
        <init-param>
            <param-name>monitor</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>threading</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>projectVersion</param-name>
            <param-value>1.0.1-SNAPSHOT</param-value>
        </init-param>
        <init-param>
            <param-name>buildnumber</param-name>
            <param-value>9537</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>    
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>fi.dwo.server.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>    
    <!--
    servlet mappings 
    -->
    <servlet-mapping>
        <!-- note that xmlrpc is a hardcoded path relative to the applet containing html page -->
        <!-- note that jars is also a hardcoded path relative to the applet containing html page -->
        <servlet-name>xmlrpc</servlet-name>
        <url-pattern>/xmlrpc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DwoWebPage</servlet-name>
        <url-pattern>/dwowebpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DwoJnlpPage</servlet-name>
        <url-pattern>/dwojnlppage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DwoIndexPage</servlet-name>
        <url-pattern>/dwoindexpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>*.jar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
	
    <!-- Jersey JAX_RS JAXB JSON service provider -->
    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>DwoJaxRsRest</web-resource-name>
            <url-pattern>/rest/secure/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>STUDENT</role-name>
            <role-name>TEACHER</role-name>
            <role-name>SCHOOLADMIN</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
        <user-data-constraint>           
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- Required to be directly below the security constraint -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>DWO.nl</realm-name>
    </login-config>

    <!-- Security roles referenced by this web application -->
    <security-role>
        <role-name>STUDENT</role-name>
    </security-role>
    <security-role>
        <role-name>TEACHER</role-name>
    </security-role>
    <security-role>
        <role-name>SCHOOLADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>

    <listener>
        <listener-class>
            fi.dwo.server.rest.TranslatorServletContextListener 
        </listener-class>
    </listener>
</web-app>
