.answerboxFEWA {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #AAAAAA;
	border-width: 1px;
	
	margin-left: 1px;
	margin-top: 0px;
	margin-bottom: 2px;
	
	padding-top: 1px;
	padding-bottom: 2px;
}
.answerboxFEWS {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #AAAAAA;
	border-width: 1px;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
	
	padding-top: 0px;
	padding-bottom: 0px;
}

